<?xml version="1.0" encoding="UTF-8"?>
<!--

        Copyright SocialSite (C) 2009

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--
			NOTE : used to create schema only if you want to change the settings
			goto common.xml in src/main/resources
		-->

		<!-- show sql for debugging -->
		<property name="hibernate.show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<!-- mysql database connection settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/socialsite</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<!-- resource mapping -->
		<mapping resource="com/socialsite/persistence/User.hbm.xml" />
		<mapping resource="com/socialsite/persistence/Profile.hbm.xml" />
		<mapping resource="com/socialsite/persistence/Scrap.hbm.xml" />
		<mapping resource="com/socialsite/persistence/Message.hbm.xml"/>
		<mapping resource="com/socialsite/persistence/University.hbm.xml"/>
		<mapping resource="com/socialsite/persistence/Course.hbm.xml" />
		<mapping resource="com/socialsite/persistence/Answer.hbm.xml"/>
		<mapping resource="com/socialsite/persistence/Question.hbm.xml"/>
		<mapping resource="com/socialsite/persistence/Comment.hbm.xml"/>
		<mapping resource="com/socialsite/persistence/Activation.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
