<?xml version="1.0" encoding="UTF-8"?>
	<!--

		Copyright SocialSite (C) 2009 This program is free software: you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation, either
		version 3 of the License, or (at your option) any later version. This
		program is distributed in the hope that it will be useful, but WITHOUT
		ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
		FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
		for more details. You should have received a copy of the GNU General
		Public License along with this program. If not, see
		<http://www.gnu.org/licenses/>.
	-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">

	<!-- setup wicket application -->

	<bean id="wicketApplication" class="com.socialsite.SocialSiteApplication">
	</bean>

	<!--
		Abstract for TransactionProxyFactoryBean Defines the transaction
		property for methods
	-->

	<bean id="transactionProxyTemplate"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save">PROPAGATION_REQUIRED</prop>
				<prop key="delete">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<!-- setup All the Dao -->

	<!-- UserDao -->
	<bean id="userDaoTarget" class="com.socialsite.dao.hibernate.UserDaoImpl"
		lazy-init="true">
		<constructor-arg index="0">
			<value type="java.lang.Class">com.socialsite.persistence.User</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="userDaoTarget" />
	</bean>


	<!-- StaffDao -->
	<bean id="staffDaoTarget" class="com.socialsite.dao.hibernate.StaffDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="staffDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="staffDaoTarget" />
	</bean>

	<!-- AdminDao -->
	<bean id="adminDaoTarget" class="com.socialsite.dao.hibernate.AdminDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="adminDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="adminDaoTarget" />
	</bean>

	<!-- StudentDao -->
	<bean id="studentDaoTarget" class="com.socialsite.dao.hibernate.StudentDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="studentDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="studentDaoTarget" />
	</bean>



	<!-- ProfileDao -->
	<bean id="profileDaoTarget" class="com.socialsite.dao.hibernate.ProfileDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="profileDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="profileDaoTarget" />
	</bean>

	<!-- MessageDao -->
	<bean id="messageDaoTarget" class="com.socialsite.dao.hibernate.MessageDaoImpl"
		lazy-init="true">
		<constructor-arg index="0">
			<value type="java.lang.Class">com.socialsite.persistence.Message</value>
		</constructor-arg>
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="messageDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="messageDaoTarget" />
	</bean>

	<!-- FriendRequestMsgDao -->
	<bean id="friendRequestMsgDaoTarget" class="com.socialsite.dao.hibernate.FriendRequestMsgDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="friendRequestMsgDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="friendRequestMsgDaoTarget" />
	</bean>

	<!-- StaffRequestMsgDao -->
	<bean id="staffRequestMsgDaoTarget" class="com.socialsite.dao.hibernate.StaffRequestMsgDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="staffRequestMsgDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="staffRequestMsgDaoTarget" />
	</bean>

	<!-- InfoMsgDao -->
	<bean id="infoMsgDaoTarget" class="com.socialsite.dao.hibernate.InfoMsgDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="infoMsgDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="infoMsgDaoTarget" />
	</bean>

	<!-- CourseJoinedMsgDao -->
	<bean id="courseJoinedMsgDaoTarget" class="com.socialsite.dao.hibernate.CourseJoinedMsgDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="courseJoinedMsgDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="courseJoinedMsgDaoTarget" />
	</bean>

	<!-- CourseNoteMsgDao -->
	<bean id="courseNoteMsgDaoTarget" class="com.socialsite.dao.hibernate.CourseNoteMsgDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="courseNoteMsgDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="courseNoteMsgDaoTarget" />
	</bean>
	
	<!-- QuestionInfoMsgDao -->
	<bean id="questionInfoMsgDaoTarget" class="com.socialsite.dao.hibernate.QuestionInfoMsgDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="questionInfoMsgDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="questionInfoMsgDaoTarget" />
	</bean>
	<!-- UniversityDao -->
	<bean id="universityDaoTarget" class="com.socialsite.dao.hibernate.UniversityDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="universityDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="universityDaoTarget" />
	</bean>

	<!-- CourseDao -->
	<bean id="courseDaoTarget" class="com.socialsite.dao.hibernate.CourseDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="courseDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="courseDaoTarget" />
	</bean>
	<!-- QuestionDao -->
	<bean id="questionDaoTarget" class="com.socialsite.dao.hibernate.QuestionDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="questionDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="questionDaoTarget" />
	</bean>
	<!-- AnswerDao -->
	<bean id="answerDaoTarget" class="com.socialsite.dao.hibernate.AnswerDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="answerDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="answerDaoTarget" />
	</bean>
	<!-- CommentDao -->
	<bean id="commentDaoTarget" class="com.socialsite.dao.hibernate.CommentDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="commentDao" parent="transactionProxyTemplate" lazy-init="true">
		<property name="target" ref="commentDaoTarget" />
	</bean>

	<!-- ActivationDao -->
	<bean id="activationDaoTarget" class="com.socialsite.dao.hibernate.ActivationDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="activationDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="activationDaoTarget" />
	</bean>
	
	<!-- NoteDao -->
	<bean id="noteDaoTarget" class="com.socialsite.dao.hibernate.NoteDaoImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="noteDao" parent="transactionProxyTemplate"
		lazy-init="true">
		<property name="target" ref="noteDaoTarget" />
	</bean>
</beans>