@CHARSET "ISO-8859-1";

/*----------------------- Reset -----------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline-style: none;
	outline-width: 0;
	padding: 0;
	vertical-align: baseline;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*------------------------ Typography -----------------------*/
body {
	margin: 0 auto;
	width: 960px;
	background: #EEE;
	font-size: 14px;
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	line-height: 1.5;
	color: #333;
	font-size: 14px;
}

legend {
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	font-size: 1.1em;
	padding: 0.4em 0.8em;
}

fieldset {
	background: #E9E9E9;
	border: 1px solid #BBBBBB;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
}

a {
	color: #888;
}

a:hover {
	color: #002;
}

/*------------------------Layout ---------------------------*/
#container {
	background: #FFF;
}

/*** header ***/
#header {
	margin: 0 1% 1%;
	padding: 1% 0 0;
	height: 200px;
}

#header div.navigation {
	background: #666;
}

#header div.navigation a {
	padding: 7px;
	color: #FFF;
}

#header div.navigation a:hover {
	color: #002;
}

#header div.navLeft {
	float: left;
}

#header div.navRight {
	float: right;
}

#header div li {
	padding: 5px 0; float : left;
	list-style: none;
	display: inline;
	float: left;
}

/** header image **/
#header .headImage {
	background: #EEE;
	margin: 10px 0;
	height: 160px
}

#header div.headImage h1 {
	font-size: 2em;
	color: #FFF
}

#leftsidebar {
	margin: 0.5% 1% 1%;
	float: left;
	width: 18%;
}

#rightsidebar {
	margin: 1%;
	float: right;
	width: 35%;
}

#content {
	float: left;
	width: 43%;
}

#footer {
	
}

.box {
	background: #DDDDDD;
	margin-bottom: 20px;
	padding: 10px;
}


.clear {
	border: 0 none;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	height: 0;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	visibility: hidden;
	width: 0;
}