@CHARSET "ISO-8859-1";

/**
 * login page
 *
 */ /*---------- login box -------------*/
.loginbox {
	margin-top: 30%;
}

fieldset.login p {
	margin-bottom: 1em;
}

fieldset.login p label {
	float: left;
	text-align: right;
	width: 30%;
	margin-right: 3%;
}

fieldset.login p input {
	width: 60%;
}

fieldset.login p a.submit {
	margin-right: 6%;
	float: right;
}

/*--------------- feedback --------------------------*/
.feedbackPanel {
	background: #FBE3E4 ;
	margin-bottom: 20px;
	padding: 10px 10px 1px;
}

li.feedbackPanelERROR {
	background: #FFE5F4;
	border: 1px solid #FBC2C4;
	color: #8A1F11;
	margin-bottom: 5px;
	padding:2px 5px 2px 16px;
}
